.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   margin-bottom: 25px;

  .logo {
    width: 80px;
    padding: 25px;

    .svg {
      height: 9vh;
      width: 9vh;
    }
  }

  .options {
    width: 45%;
    justify-content: space-around;
    display: flex;
    align-items: center;

    .option {
      padding: 25px;
      font-size: 1.03rem;
      cursor: pointer;
    }
  }
}
